<launch>

    <param name="robot_description" textfile="$(find drone_bringup)/configuration_files/fixed_joint.urdf" />
	
	<!-- fixed_joint-->
	<node pkg="robot_state_publisher" name="drone_fixed_joints_pub" type="robot_state_publisher" output="screen">
		<param name="publish_frequency" value="50.0"/>
	</node>
	
	<!--run node of realsense t265-->  
	<include file="$(find realsense2_camera)/launch/rs_t265.launch">
	</include>

	<!-- run PX4 mavros run -->
	<include file="$(find mavros_link)/launch/px4_slam.launch">                
		<arg name="tgt_system" default="$(env DRONE_ID)"/>
		<arg name="tgt_component" default="$(env DRONE_ID)" />
		<arg name="gcs_ip" default="$(env MAVROS_GCS_IP)"/>
		<arg name="fcu_url" default="$(env MAVROS_FCU_URL)" />
		<arg name="fcu_port" default="$(env MAVROS_FCU_PORT)" />
	</include>

	<!-- run rplidar -->                                                                          │
        <include file="$(find drone_bringup)/launch/rplidar.launch"/>  
	
	<!-- run tf_broadcaster base_link on map -->
	<node pkg="robot_setup_tf" name="tf_broadcaster" type="tf_broadcaster"/>
                

	
</launch>

